.main,
.main * {
  box-sizing: border-box;
}
.main {
  background: #ffffff;
  height: 2995px;
  position: relative;
  overflow: hidden;
}
.main__component-16 {
  border-radius: 30px;
  width: 1680px;
  height: 620px;
  position: absolute;
  left: 120px;
  top: 100px;
  overflow: hidden;
}
.main__mask-group {
  position: absolute;
  inset: 0;
}
.main___20656522-1 {
  width: 1680px;
  height: 1120px;
  position: absolute;
  left: 0px;
  top: -326px;
  object-fit: cover;
}
.main__rectangle-1 {
  background: rgba(13, 16, 13, 0.15);
  width: 1680px;
  height: 620px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.main__group-259 {
  height: auto;
  position: absolute;
  left: 278px;
  top: 520px;
  overflow: visible;
}
.main__group-9 {
  height: auto;
  position: absolute;
  left: 230px;
  top: 512px;
  overflow: visible;
}
.main__component-10 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 100px;
  top: 490px;
}
.main__ellipse-6 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.main__group-1 {
  width: 30.05%;
  height: 17.45%;
  position: absolute;
  right: 34.95%;
  left: 35%;
  bottom: 41.3%;
  top: 41.25%;
  overflow: visible;
}
.main__component-11 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 210px;
  top: 490px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.main__group-12 {
  width: 30.05%;
  height: 17.45%;
  position: absolute;
  right: 34.95%;
  left: 35%;
  bottom: 41.3%;
  top: 41.25%;
  overflow: visible;
}
.main__frame-28 {
  width: 395px;
  height: 162px;
  position: absolute;
  left: 100px;
  top: 80px;
}
.main__mask-group2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: visible;
}
.main__mask-group3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 49px;
  overflow: visible;
}
.main__mask-group4 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 97px;
  overflow: visible;
}
.main__component-14 {
  background: rgba(255, 255, 255, 0);
  width: 1920px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.main__div {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 410px;
  top: 36px;
}
.main__div2 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 554px;
  top: 36px;
}
.main__div3 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 698px;
  top: 36px;
}
.main__div4 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 842px;
  top: 36px;
}
.main__div5 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 986px;
  top: 36px;
}
.main__group-214 {
  position: absolute;
  inset: 0;
}
.main__group-246 {
  width: 31.68px;
  height: 31.68px;
  position: static;
}
.main__rectangle-101 {
  background: #777777;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1768px;
  top: 34px;
}
.main__rectangle-103 {
  background: #777777;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1768px;
  top: 51.68px;
}
.main__rectangle-102 {
  background: #777777;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1785.68px;
  top: 34px;
}
.main__rectangle-104 {
  background: #777777;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1785.68px;
  top: 51.68px;
}
.main__group-7 {
  position: absolute;
  inset: 0;
}
.main__div6 {
  color: #666666;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1535px;
  top: 43px;
}
.main__rectangle-14 {
  border-radius: 1000px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  width: 86px;
  height: 36px;
  position: absolute;
  left: 1514px;
  top: 32px;
}
.main__group-41 {
  position: absolute;
  inset: 0;
}
.main__div7 {
  color: #666666;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1626px;
  top: 43px;
}
.main__rectangle-142 {
  border-radius: 1000px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  width: 86px;
  height: 36px;
  position: absolute;
  left: 1612px;
  top: 32px;
}
.main__rectangle-79 {
  border-radius: 100px;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 615px;
  top: 39px;
}
.main__logo-2 {
  width: 150px;
  height: 43px;
  position: absolute;
  left: 120px;
  top: 29px;
  object-fit: cover;
}
.main__ellipse-17 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(146, 194, 89, 0.3);
  border-width: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 150px;
  top: 3622px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.main__rectangle-61 {
  background: #ffffff;
  border-radius: 20px;
  width: 484px;
  height: 613px;
  position: absolute;
  left: -304px;
  top: 3783px;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1);
}
.main__vector-11 {
  width: 1100px;
  height: 0px;
  position: absolute;
  left: 700px;
  top: 851px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__div8 {
  color: #444444;
  text-align: left;
  font-family: "OneMobileTitle-Regular", sans-serif;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 700px;
  top: 799px;
}
.main__rectangle-153 {
  background: #f3f5fb;
  width: 1920px;
  height: 744px;
  position: absolute;
  left: 0px;
  top: 1259px;
}
.main__div9 {
  color: #555555;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 1000px;
  top: 802px;
}
.main__group-20 {
  position: absolute;
  inset: 0;
}
.main__rectangle-30 {
  background: #4c7af0;
  border-radius: 100px;
  width: 120px;
  height: 38px;
  position: absolute;
  left: 857px;
  top: 793px;
}
.main__div10 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 880px;
  top: 801.77px;
  width: 74px;
  height: 19.49px;
}
.main__component-1 {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1756px;
  top: 790px;
  overflow: hidden;
}
.main__group-122 {
  position: absolute;
  inset: 0;
}
.main__ellipse-62 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(97, 106, 132, 0.8);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.main__group-13 {
  width: 32.5%;
  height: 32.5%;
  position: absolute;
  right: 33.75%;
  left: 33.75%;
  bottom: 33.75%;
  top: 33.75%;
  overflow: visible;
}
.main__footer {
  width: 1920px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 2685px;
}
.main__rectangle-73 {
  background: rgba(58, 58, 58, 0.85);
  width: 1920px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(5px);
}
.main__copyright-all-right-reserved {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: 244px;
}
.main__tel-02-3435-3700 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: 138px;
}
.main__div11 {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 78px;
  top: 23px;
}
.main__div12 {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 226px;
  top: 23px;
}
.main__div13 {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 315px;
  top: 23px;
}
.main__div14 {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 437px;
  top: 23px;
}
.main__div15 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 83px;
  top: 100px;
}
.main__add-05699-932 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: 198px;
}
.main__fax-02-3435-3836 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: 168px;
}
.main__group-207 {
  position: absolute;
  inset: 0;
}
.main__group-206 {
  width: 36px;
  height: 46px;
  position: static;
}
.main__top {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 1773px;
  top: 41px;
}
.main__group-14 {
  width: 24.04px;
  height: 13.96px;
  position: absolute;
  left: 1797.96px;
  top: 13px;
  overflow: visible;
}
.main__vector-122 {
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 70px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-123 {
  width: 0px;
  height: 69.5px;
  position: absolute;
  left: 1756.5px;
  top: 0.5px;
  overflow: visible;
}
.main__vector-125 {
  width: 0px;
  height: 69.5px;
  position: absolute;
  left: 1826px;
  top: 0.5px;
  overflow: visible;
}
.main__vector-124 {
  width: 0px;
  height: 69.5px;
  position: absolute;
  left: 1560px;
  top: 0.5px;
  overflow: visible;
}
.main__group-230 {
  position: absolute;
  inset: 0;
}
.main__div16 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 1584px;
  top: 24px;
  width: 66px;
  height: 21.6px;
}
.main__vector-1 {
  width: 0.31%;
  height: 3.87%;
  position: absolute;
  right: 9.48%;
  left: 90.21%;
  bottom: 86.77%;
  top: 9.35%;
  overflow: visible;
}
.main__ellipse-31 {
  background: #0283d0;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  position: absolute;
  left: 1953px;
  top: 793px;
}
.main__frame-32 {
  border-radius: 30px;
  width: 260px;
  height: 300px;
  position: absolute;
  left: 700px;
  top: 879px;
  box-shadow: 4px 8px 50px 0px rgba(140, 140, 140, 0.14);
  overflow: hidden;
}
.main__rectangle-105 {
  background: #ffffff;
  border-radius: 20px;
  width: 260px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 4px 8px 50px 0px rgba(140, 140, 140, 0.14);
}
.main__div17 {
  color: #5376d0;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 22px;
  top: 40px;
}
.main___2023 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 22px;
  top: 76px;
  width: 212px;
}
.main___20232 {
  color: #555555;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 108px;
  width: 216px;
}
.main___2023-04-18 {
  color: #777777;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 246px;
}
.main__frame {
  width: 80px;
  height: 83px;
  position: absolute;
  left: 179px;
  top: 219px;
  overflow: hidden;
}
.main__group {
  width: 100.1%;
  height: 100.79%;
  position: absolute;
  right: -0.06%;
  left: -0.05%;
  bottom: -0.88%;
  top: 0.09%;
  overflow: visible;
}
.main__frame-37 {
  border-radius: 30px;
  width: 260px;
  height: 300px;
  position: absolute;
  left: 980px;
  top: 879px;
  box-shadow: 4px 8px 50px 0px rgba(140, 140, 140, 0.14);
  overflow: hidden;
}
.main__group2 {
  width: 100.1%;
  height: 100.79%;
  position: absolute;
  right: -0.06%;
  left: -0.05%;
  bottom: -0.88%;
  top: 0.09%;
  overflow: visible;
}
.main__frame-38 {
  border-radius: 30px;
  width: 260px;
  height: 300px;
  position: absolute;
  left: 1260px;
  top: 879px;
  box-shadow: 4px 8px 50px 0px rgba(140, 140, 140, 0.14);
  overflow: hidden;
}
.main__group3 {
  width: 100.1%;
  height: 100.79%;
  position: absolute;
  right: -0.06%;
  left: -0.05%;
  bottom: -0.88%;
  top: 0.09%;
  overflow: visible;
}
.main__frame-39 {
  border-radius: 30px;
  width: 260px;
  height: 300px;
  position: absolute;
  left: 1540px;
  top: 879px;
  box-shadow: 4px 8px 50px 0px rgba(140, 140, 140, 0.14);
  overflow: hidden;
}
.main__group4 {
  width: 100.1%;
  height: 100.79%;
  position: absolute;
  right: -0.06%;
  left: -0.05%;
  bottom: -0.88%;
  top: 0.09%;
  overflow: visible;
}
.main__rectangle-132 {
  border-radius: 0px;
  width: 142px;
  height: 620px;
  position: absolute;
  left: 1658px;
  top: 100px;
  overflow: visible;
}
.main__component-18 {
  width: 143px;
  height: 124px;
  position: absolute;
  left: 1657px;
  top: 100px;
  overflow: visible;
}
.main__component-19 {
  width: 143px;
  height: 124px;
  position: absolute;
  left: 1657px;
  top: 224px;
  overflow: visible;
}
.main__component-20 {
  width: 143px;
  height: 124px;
  position: absolute;
  left: 1657px;
  top: 348px;
  overflow: visible;
}
.main__component-21 {
  width: 143px;
  height: 124px;
  position: absolute;
  left: 1657px;
  top: 472px;
  overflow: visible;
}
.main__component-22 {
  width: 143px;
  height: 124px;
  position: absolute;
  left: 1657px;
  top: 596px;
  overflow: visible;
}
.main__group-249 {
  position: absolute;
  inset: 0;
}
.main__div18 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1701px;
  top: 189px;
}
.main__frame2 {
  width: 50px;
  height: 61px;
  position: absolute;
  left: 1703px;
  top: 120px;
  overflow: hidden;
}
.main__group5 {
  height: auto;
  position: absolute;
  left: 1.55px;
  top: 24.86px;
  overflow: visible;
}
.main__group6 {
  height: auto;
  position: absolute;
  left: 25.93px;
  top: 3.45px;
  overflow: visible;
}
.main__group-250 {
  position: absolute;
  inset: 0;
}
.main__div19 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1694px;
  top: 305px;
}
.main__frame3 {
  width: 50px;
  height: 45px;
  position: absolute;
  left: 1703px;
  top: 252px;
  overflow: hidden;
}
.main__group7 {
  height: auto;
  position: absolute;
  left: 0.98px;
  top: 0.98px;
  overflow: visible;
}
.main__group-251 {
  position: absolute;
  inset: 0;
}
.main__div20 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1697px;
  top: 417px;
}
.main__frame4 {
  width: 56px;
  height: 43px;
  position: absolute;
  left: 1700px;
  top: 366px;
  overflow: hidden;
}
.main__group8 {
  height: auto;
  position: absolute;
  left: 1.1px;
  top: 1.1px;
  overflow: visible;
}
.main__group-252 {
  position: absolute;
  inset: 0;
}
.main__div21 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1700px;
  top: 556.05px;
}
.main__frame5 {
  width: 52px;
  height: 51px;
  position: absolute;
  left: 1701px;
  top: 497px;
  overflow: hidden;
}
.main__group9 {
  height: auto;
  position: absolute;
  left: 1.02px;
  top: 1.02px;
  overflow: visible;
}
.main__group-253 {
  position: absolute;
  inset: 0;
}
.main__div22 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 1701px;
  top: 676.34px;
}
.main__frame6 {
  width: 58px;
  height: 43px;
  position: absolute;
  left: 1699px;
  top: 625px;
  overflow: hidden;
}
.main__group10 {
  height: auto;
  position: absolute;
  left: 0.87px;
  top: 0.88px;
  overflow: visible;
}
.main__vector-118 {
  width: 82px;
  height: 0px;
  position: absolute;
  left: 1686px;
  top: 224px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-119 {
  width: 82px;
  height: 0px;
  position: absolute;
  left: 1686px;
  top: 348px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-120 {
  width: 82px;
  height: 0px;
  position: absolute;
  left: 1686px;
  top: 472px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-121 {
  width: 82px;
  height: 0px;
  position: absolute;
  left: 1686px;
  top: 596px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__frame-36 {
  width: 519px;
  height: 389px;
  position: absolute;
  left: 122px;
  top: 790px;
  overflow: hidden;
}
.main__rectangle-140 {
  border-radius: 0px;
  width: 519px;
  height: 389px;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: visible;
}
.main__frame7 {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 35px;
  top: 160px;
  overflow: hidden;
}
.main__ellipse-33 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(48, 56, 83, 0.85);
  border-width: 1px;
  width: 95%;
  height: 100%;
  position: absolute;
  right: 5%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.main__group11 {
  width: 85.07%;
  height: 74.36%;
  position: absolute;
  right: 1.08%;
  left: 13.85%;
  bottom: 18.98%;
  top: 6.65%;
  overflow: visible;
}
.main__frame8 {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 35px;
  top: 196px;
  overflow: hidden;
}
.main__group12 {
  width: 85.07%;
  height: 74.36%;
  position: absolute;
  right: 1.08%;
  left: 13.85%;
  bottom: 18.98%;
  top: 6.65%;
  overflow: visible;
}
.main__vector {
  width: 38.3%;
  height: 174.27%;
  position: absolute;
  right: 83.47%;
  left: -21.77%;
  bottom: -185.28%;
  top: 111.02%;
  transform: translate(113px, -195.18px);
  overflow: visible;
}
.main__frame9 {
  width: 146px;
  height: 169px;
  position: absolute;
  left: 338px;
  top: 190px;
  overflow: hidden;
}
.main__group13 {
  width: 85.02%;
  height: 84.09%;
  position: absolute;
  right: 14.98%;
  left: 0%;
  bottom: 0%;
  top: 15.91%;
  overflow: visible;
}
.main__group14 {
  width: 61.73%;
  height: 41.97%;
  position: absolute;
  right: 0%;
  left: 38.27%;
  bottom: 58.03%;
  top: 0%;
  overflow: visible;
}
.main__div23 {
  color: #303853;
  text-align: left;
  font-family: "OneMobileTitle-Regular", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 104px;
  width: 451px;
}
.main__div24 {
  color: rgba(48, 56, 83, 0.85);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 154px;
  width: 457px;
}
.main__div25 {
  color: rgba(48, 56, 83, 0.85);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 190px;
  width: 457px;
}
.main__group-260 {
  position: absolute;
  inset: 0;
}
.main__rectangle-139 {
  background: rgba(51, 51, 51, 0.55);
  border-radius: 30px;
  width: 148px;
  height: 32px;
  position: absolute;
  left: 35px;
  top: 321px;
}
.main__group-257 {
  width: 48.5px;
  height: 14px;
  position: absolute;
  left: 114px;
  top: 330px;
  overflow: visible;
}
.main__group-256 {
  width: 34px;
  height: 24px;
  position: static;
}
.main___1 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 55px;
  top: 324px;
}
.main___2 {
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 324px;
}
.main__div26 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 324px;
}
.main__group-223 {
  position: absolute;
  inset: 0;
}
.main__rectangle-302 {
  background: #ffffff;
  border-radius: 100px;
  width: 120px;
  height: 38px;
  position: absolute;
  left: 35px;
  top: 36px;
}
.main__div27 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 56px;
  top: 45px;
}
.main__frame-362 {
  border-radius: 30px;
  width: 519px;
  height: 480px;
  position: absolute;
  left: 120px;
  top: 1443px;
  overflow: visible;
}
.main__rectangle-159 {
  border-radius: 30px;
  width: 1097px;
  height: 480px;
  position: absolute;
  left: 703px;
  top: 1443px;
}
.main__rectangle-113 {
  border-radius: 30px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  width: 705px;
  height: 463px;
  position: absolute;
  left: 1095px;
  top: 2083px;
}
.main__mask-group5 {
  height: auto;
  position: absolute;
  left: 1095px;
  top: 2083px;
  overflow: visible;
}
.main__div28 {
  color: #444444;
  text-align: left;
  font-family: "OneMobileTitle-Regular", sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 700px;
  top: 2095px;
}
.main__group-228 {
  position: absolute;
  inset: 0;
}
.main__group-220 {
  width: 241px;
  height: 48px;
  position: static;
}
.main__address {
  color: #7d8392;
  text-align: left;
  font-family: "SCoreDream-5Medium", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2171px;
}
.main___932 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2196px;
}
.main__group-227 {
  width: 60px;
  height: 60px;
  position: static;
}
.main__ellipse-12 {
  background: #eeeeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 700px;
  top: 2165px;
}
.main__frame10 {
  width: 24.75px;
  height: 33.75px;
  position: absolute;
  left: 718px;
  top: 2178.5px;
  overflow: hidden;
}
.main__group15 {
  width: 88.72%;
  height: 91.73%;
  position: absolute;
  right: 5.64%;
  left: 5.64%;
  bottom: 4.13%;
  top: 4.13%;
  overflow: visible;
}
.main__vector-114 {
  width: 375px;
  height: 0px;
  position: absolute;
  left: 700px;
  top: 2245px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-115 {
  width: 375px;
  height: 0px;
  position: absolute;
  left: 700px;
  top: 2345px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-116 {
  width: 375px;
  height: 0px;
  position: absolute;
  left: 700px;
  top: 2445px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__vector-117 {
  width: 375px;
  height: 0px;
  position: absolute;
  left: 700px;
  top: 2545px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__group-226 {
  position: absolute;
  inset: 0;
}
.main__group-221 {
  width: 103px;
  height: 48px;
  position: static;
}
.main__tel {
  color: #7d8392;
  text-align: left;
  font-family: "SCoreDream-5Medium", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2271px;
}
.main___02-320-1345 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2296px;
}
.main__group-225 {
  width: 60px;
  height: 60px;
  position: static;
}
.main__ellipse-13 {
  background: #eeeeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 700px;
  top: 2265px;
}
.main__frame11 {
  width: 31.5px;
  height: 30px;
  position: absolute;
  left: 714.25px;
  top: 2280px;
  overflow: hidden;
}
.main__group16 {
  height: auto;
  position: absolute;
  left: 0px;
  top: -0.01px;
  overflow: visible;
}
.main__group-224 {
  position: absolute;
  inset: 0;
}
.main__group-222 {
  width: 113px;
  height: 48px;
  position: static;
}
.main__fax {
  color: #7d8392;
  text-align: left;
  font-family: "SCoreDream-5Medium", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2371px;
}
.main___02-3201-1345 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2396px;
}
.main__group-2232 {
  width: 60px;
  height: 60px;
  position: static;
}
.main__ellipse-14 {
  background: #eeeeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 700px;
  top: 2365px;
}
.main__frame12 {
  width: 33.75px;
  height: 30.75px;
  position: absolute;
  left: 713.5px;
  top: 2380px;
  overflow: hidden;
}
.main__group17 {
  height: auto;
  position: absolute;
  left: 0.75px;
  top: 0.75px;
  overflow: visible;
}
.main__ellipse-20 {
  border-radius: 50%;
  border-style: solid;
  border-color: #555754;
  border-width: 1.5px;
  width: 4.44%;
  height: 4.88%;
  position: absolute;
  right: 80%;
  left: 15.56%;
  bottom: 56.1%;
  top: 39.02%;
}
.main__group-229 {
  position: absolute;
  inset: 0;
}
.main__group-2222 {
  width: 146px;
  height: 48px;
  position: static;
}
.main__office-hours {
  color: #7d8392;
  text-align: left;
  font-family: "SCoreDream-5Medium", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2471px;
}
.main___09-00-18-00 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 2496px;
}
.main__ellipse-142 {
  background: #eeeeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 700px;
  top: 2465px;
}
.main__frame13 {
  width: 31.5px;
  height: 30.75px;
  position: absolute;
  left: 714.25px;
  top: 2480px;
  overflow: hidden;
}
.main__group18 {
  width: 86.77%;
  height: 87.23%;
  position: absolute;
  right: 6.44%;
  left: 6.79%;
  bottom: 5.67%;
  top: 7.11%;
  overflow: visible;
}
.main__div29 {
  color: #444444;
  text-align: left;
  font-family: "OneMobileTitle-Regular", sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 120px;
  top: 2095px;
  width: 115px;
}
.main__component-23 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 480px;
  top: 2085px;
}
.main__rectangle-114 {
  background: linear-gradient(to left, #eef3fa, #eef3fa);
  border-radius: 20px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.main__component-25 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 2245px;
}
.main__component-27 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 2405px;
}
.main__component-29 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 120px;
  top: 2405px;
}
.main__component-24 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 120px;
  top: 2245px;
}
.main__component-26 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 480px;
  top: 2244px;
}
.main__component-28 {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 300px;
  top: 2085px;
}
.main__div30 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 524px;
  top: 2189px;
}
.main__frame14 {
  width: 82px;
  height: 75px;
  position: absolute;
  left: 519px;
  top: 2105px;
  overflow: hidden;
}
.main__group19 {
  height: auto;
  position: absolute;
  left: 3px;
  top: 0px;
  overflow: visible;
}
.main__group20 {
  width: 39.02%;
  height: 48.61%;
  position: absolute;
  right: 4.88%;
  left: 56.1%;
  bottom: 0.72%;
  top: 50.67%;
  overflow: visible;
}
.main__div31 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 344px;
  top: 2349px;
}
.main__frame15 {
  width: 63px;
  height: 75px;
  position: absolute;
  left: 349px;
  top: 2265px;
  overflow: hidden;
}
.main__group21 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.main__frame16 {
  width: 62px;
  height: 76px;
  position: absolute;
  left: 170px;
  top: 2265px;
  overflow: hidden;
}
.main__group22 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.main__div32 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 139px;
  top: 2509px;
}
.main__frame17 {
  width: 82px;
  height: 75px;
  position: absolute;
  left: 159px;
  top: 2425px;
  overflow: hidden;
}
.main__group23 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.main__div33 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 328px;
  top: 2509px;
}
.main__frame18 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 343px;
  top: 2423px;
  overflow: hidden;
}
.main__group24 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: 0.01%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.main__group25 {
  width: 30.09%;
  height: 27.19%;
  position: absolute;
  right: 35.24%;
  left: 34.67%;
  bottom: 36.81%;
  top: 36%;
  overflow: visible;
}
.main__a-t-kamis {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 316px;
  top: 2189px;
}
.main__frame19 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 343px;
  top: 2105px;
  overflow: hidden;
}
.main__group26 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.main__div34 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 510px;
  top: 2348px;
}
.main__frame20 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 524px;
  top: 2264px;
  overflow: hidden;
}
.main__group27 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.main__div35 {
  color: #666666;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 2349px;
}
.main__vector-1222 {
  width: 1096px;
  height: 0px;
  position: absolute;
  left: 703px;
  top: 1403px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.main__div36 {
  color: #444444;
  text-align: left;
  font-family: "OneMobileTitle-Regular", sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 703px;
  top: 1345px;
}
.main__component-8 {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1718px;
  top: 1340px;
}
.main__group-15 {
  width: 30.05%;
  height: 17.45%;
  position: absolute;
  right: 34.95%;
  left: 35%;
  bottom: 41.3%;
  top: 41.25%;
  overflow: visible;
}
.main__component-31 {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1799px;
  top: 1340px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.main__group-16 {
  width: 30.05%;
  height: 17.45%;
  position: absolute;
  right: 34.95%;
  left: 35%;
  bottom: 41.3%;
  top: 41.25%;
  overflow: visible;
}
.main__component-30 {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 596px;
  top: 1340px;
  overflow: hidden;
}
.main__group-17 {
  width: 32.5%;
  height: 32.5%;
  position: absolute;
  right: 33.75%;
  left: 33.75%;
  bottom: 33.75%;
  top: 33.75%;
  overflow: visible;
}
.main__div37 {
  color: #555754;
  text-align: left;
  font-family: "OneMobileTitleOtf-Regular", sans-serif;
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 1348px;
}
.main__div38 {
  color: #333333;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 431px;
  top: 1353px;
}
.main__group-2562 {
  position: absolute;
  inset: 0;
}
.main__rectangle-303 {
  background: #4c7af0;
  border-radius: 100px;
  width: 120px;
  height: 42px;
  position: absolute;
  left: 270px;
  top: 1341px;
}
.main__div39 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 313px;
  top: 1353px;
}
.main__vector-1242 {
  width: 519px;
  height: 0px;
  position: absolute;
  left: 121px;
  top: 1403px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
